<app-announcement-section></app-announcement-section>

<header class="site-header">
  <div class="nav-container" [class.search-active]="searchActive">
    <!-- Left Navigation -->
    <nav class="nav-left">
      <div class="menu-item">
        <a routerLink="/shop" class="nav-link" (mouseenter)="showShopPopup()"
          >Shop</a
        >

        <div
          class="shop-popup"
          *ngIf="isShopPopupVisible"
          (mouseenter)="cancelHidePopupTimer()"
          (mouseleave)="startHidePopupTimer()"
        >
          <div class="shop-popup-content">
            <div class="section">
              <h3>Lifestyle Concern</h3>
              <ul>
                <li *ngFor="let concern of lifestyleConcerns">
                  <a href="#">{{ concern }}</a>
                </li>
              </ul>
            </div>
            <div class="section">
              <h3>Product Category</h3>
              <ul>
                <li *ngFor="let category of productCategories">
                  <a href="#">{{ category }}</a>
                </li>
              </ul>
            </div>
            <div class="section">
              <h3>Full Treatment Course</h3>
              <ul>
                <li *ngFor="let course of fullTreatmentCourses">
                  <a href="#">{{ course }}</a>
                </li>
              </ul>
              <div class="balance-unboxed">
                <h3>Balance Unboxed:</h3>
                <p>shop now</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a routerLink="/reviews" class="nav-link">Reviews</a>
      <a routerLink="/pathshala" class="nav-link">Learn at Pathshala</a>
    </nav>

    <!-- Center Logo -->
    <div class="logo-container">
      <a routerLink="/" class="logo-link">
        <img src="sbma_logo.jpg" alt="Logo" class="logo" />
      </a>
    </div>

    <!-- Right Navigation -->
    <nav class="nav-right">
      <a routerLink="/about" class="nav-link">Book Consultation</a>
      <a routerLink="/contact" class="nav-link">Contact</a>
      <div class="search-container" [class.expanded]="searchActive">
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (blur)="toggleSearch(false)"
          (keyup.enter)="performSearch()"
          placeholder="Search products..."
          class="search-input"
          [class.active]="searchActive"
        />
        <button class="search-icon" (click)="toggleSearch(true)">
          <i class="pi pi-search"></i>
        </button>
      </div>
    </nav>
  </div>
</header>

<main class="main">
  <app-carousel></app-carousel>
</main>
